@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

#root {
  min-height: 100vh;  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  & > header {
    background-color: #F7F7F7;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;


    & > img {
      width: 140px;

    }
  }

  & > main {

    .card {

    }
  }

  & > footer {
    background-color: #F7F7F7;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;

    & > img {
      height: 130px;
      width: 210px;
      fill: black;
      background-color: black;
    }
  }
}

